:root{
    --navcolour: #0A758F;
    --lightaccent: #D4F1F4;
    --glow: #75E6DA;
}

body{
    font-family: Helvetica, sans-serif, Arial;
}

/* Navigation bar styling */
nav{
    position:fixed;
    top: 0;
    z-index: 201;
    display: flex;
    align-items: center;
    background-color: var(--navcolour);
    justify-content:space-between;  
    height: 60px;
    width:100%;
}

/* Styling title text section of navigation bar */
.NavTitle{
    align-items: center;
    display:flex;
}

.NavTitle h1:hover{
    color: #00ffe5;
}

/* Nav Title Text Styling */
.NavTitle h1{
    background-color: #268eba;
    color: aliceblue;
    font-size:x-large;
    padding: 1.75%;
    padding-left: 4%;
    transition: 1s;
}

/* Profile Avatar Styling */
.NavTitle img{
    width: 11%;
    height: 11%;
    padding-left: 3%;
}

/* Styling navigation bar links section */
.NavLinks{
    margin-right: 2.5%;
    display:flex;
    align-content: center;
}

/* Styling navigation bar links*/
.NavLinks a{
    margin-left: 15px;
    text-decoration: none;
    font-size: 14.5px;
    color: aliceblue;
    padding-bottom: 1%;
    border-bottom: 2px solid var(--lightaccent);
}

.NavLinks a:hover{
    border-bottom: 2px solid white;
    color: var(--glow);
    font-weight: bold;
    /* font-style:italic; */
}

/* Header styling */
header{
    margin-top: 60px;
    background-image: url(./Assets/escherpattern.png);
    padding-top: 5.5%;
    padding-bottom: 1.2%;
    padding-right: 6%;
    text-align: end;
    font-style: italic;
    font-size: larger;
    color:var(--lightaccent);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width:100%;
}

/* Header quote section styling */
header h2, header p {
    padding: 0.5%;
    padding-right:1%;
    background-color:var(--navcolour);
    width:36%;
}

/* Main Section Styling */
/* 'Section_Box' refers to a whole page section*/
.About_Me_Box, .Work_Box, .Contact_Me_Box {
    display: flex;
    justify-content:flex-start;
    align-items: center;
    padding-top: 1%;
    padding-right: 4%;
    /* width: 100%; */
}

/* 'Section_Title' refers to the title sub-section within the box*/
.About_Me_Title, .Work_Title, .Contact_Me_Title {
    font-size: x-large;
    color: #189AB4;
    text-align: right;
    padding-right: 1%;
    border-right: 2px solid #189AB4;
    flex-basis:18%;
}

/* 'Section_Content' refers to the part of the subsection with the content */
.About_Me_Content, .Work_Content, .Contact_Me_Content {
    padding: 1%;
    padding-left: 2%;
    flex-basis: 80%;
}

/* 'About Me' Content Styling */
.About_Me_Content{
    padding-left: 1.1%;
}

.About_Me_Content p{
    padding: 1%;
}

/* 'Work' Content Styling*/
.Work_Content{
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

/* 'Work' - Image hover effect */
.Work_Content a img{
    -webkit-filter: brightness(5);
    filter: brightness(0.5);
    transition: 0.5s;
}

.Work_Content a img:hover{
    -webkit-filter: brightness(1);
    filter: brightness(1);
}

/* 'Work' - Image Sizing */
.fullwidthpic{
    width: 100%;
    height: 276px;
    padding-right: 1%;
}

.halfwidthpic{
    width:100%;
    height:200px;
    padding-top: 2%;
    padding-right: 2%;
}

/* 'Work' - Image With Caption Styling*/

.image1_container{
    position: relative;
    width:100%;
}

.image2_container{
    width:50%;
}

.image_textblock1, .image_textblock2, .image_textblock3{
    position: absolute;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 7px;
    padding-bottom: 7px;
    z-index: 200;
    background-color: #05445E;
    color: white;
}

.image_textblock1 p, .image_textblock2 p, .image_textblock3 p{
    font-size: small;
    padding-top: 3%;
}

  .image_textblock1 {
    bottom:8%;
  }

  .image_textblock2 {
    bottom: 33%;
  }

  .image_textblock3 {
    bottom: 4.5%;
  }

/* Contact Me Content Styling */
.Contact_Me_Content{
    display: flex;
    flex-wrap: wrap;
    flex-shrink: 1;
    justify-content: space-around;
}

.Contact_Me_Content a{
    padding: 1.5%;
}

.Contact_Me_Content a:hover{
    color: var(--glow);
}

/* Footer Padding */
footer{
    padding-bottom: 1%;
}

/* Responsiveness */
@media screen and (max-width: 992px) {
    .About_Me_Title, .Work_Title, .Contact_Me_Title {
        flex-basis:20%;
        padding-right: 1.5%;
    } 

    .Work_Content, .Contact_Me_Content {
        padding-left: 3.5%;
    }
    
    .About_Me_Content{
        padding-left: 2.4%;
    }

    footer{
        padding-bottom: 2%;
    }

    .halfwidthpic {
        width:100%;
        height: 160px;
    }

    .fullwidthpic, .fullwidthlink{
        width: 100%;
        height: 215px; 
    }
}

@media screen and (max-width: 620px) {
    .About_Me_Title, .Work_Title, .Contact_Me_Title {
        flex-basis:33%;
        padding-right: 2%;
    } 

    .Work_Content, .Contact_Me_Content {
        padding-left: 5%;
    }

    .About_Me_Content{
        padding-left: 4%;
    }

    footer{
        padding-bottom: 3%;
    }

    .halfwidthpic {
        width:100%;
        height: 140px;
    }

    .fullwidthpic, .fullwidthlink{
        width: 100%;
        height: 215px; 
    }

    .NavTitle img{
        width: 21%;
        height: 21%;
        padding-left: 3%;
    }

}